/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.gap-0 {
  margin-left: 0;
  margin-right: 0; }

.gap-0 {
  margin-left: 0px;
  margin-right: 0px; }

.gap-0 > [class^='xs'],
.gap-0 > [class*=' xs'] {
  padding-left: 0px;
  padding-right: 0px; }

.gap-1 {
  margin-left: -5px;
  margin-right: -5px; }

.gap-1 > [class^='xs'],
.gap-1 > [class*=' xs'] {
  padding-left: 5px;
  padding-right: 5px; }

.gap-2 {
  margin-left: -10px;
  margin-right: -10px; }

.gap-2 > [class^='xs'],
.gap-2 > [class*=' xs'] {
  padding-left: 10px;
  padding-right: 10px; }

.gap-3 {
  margin-left: -15px;
  margin-right: -15px; }

.gap-3 > [class^='xs'],
.gap-3 > [class*=' xs'] {
  padding-left: 15px;
  padding-right: 15px; }

.gap-4 {
  margin-left: -20px;
  margin-right: -20px; }

.gap-4 > [class^='xs'],
.gap-4 > [class*=' xs'] {
  padding-left: 20px;
  padding-right: 20px; }

.gap-5 {
  margin-left: -25px;
  margin-right: -25px; }

.gap-5 > [class^='xs'],
.gap-5 > [class*=' xs'] {
  padding-left: 25px;
  padding-right: 25px; }

.gap-6 {
  margin-left: -30px;
  margin-right: -30px; }

.gap-6 > [class^='xs'],
.gap-6 > [class*=' xs'] {
  padding-left: 30px;
  padding-right: 30px; }

.gap-7 {
  margin-left: -35px;
  margin-right: -35px; }

.gap-7 > [class^='xs'],
.gap-7 > [class*=' xs'] {
  padding-left: 35px;
  padding-right: 35px; }

.gap-8 {
  margin-left: -40px;
  margin-right: -40px; }

.gap-8 > [class^='xs'],
.gap-8 > [class*=' xs'] {
  padding-left: 40px;
  padding-right: 40px; }

.gap-9 {
  margin-left: -45px;
  margin-right: -45px; }

.gap-9 > [class^='xs'],
.gap-9 > [class*=' xs'] {
  padding-left: 45px;
  padding-right: 45px; }

.gap-10 {
  margin-left: -50px;
  margin-right: -50px; }

.gap-10 > [class^='xs'],
.gap-10 > [class*=' xs'] {
  padding-left: 50px;
  padding-right: 50px; }

.gap {
  display: flex;
  flex-wrap: wrap; }

.flex {
  flex: 1; }

.xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.mb10-xs {
  margin-bottom: 10px; }

.mb20-xs {
  margin-bottom: 20px; }

.mb30-xs {
  margin-bottom: 30px; }

.mb40-xs {
  margin-bottom: 40px; }

.mb50-xs {
  margin-bottom: 50px; }

.mb60-xs {
  margin-bottom: 60px; }

.mb70-xs {
  margin-bottom: 70px; }

.mb80-xs {
  margin-bottom: 80px; }

.mb90-xs {
  margin-bottom: 90px; }

.mb100-xs {
  margin-bottom: 100px; }

@media (min-width: 490px) {
  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 768px) {
  .md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .mr0-md {
    margin-right: 0px; }
  .mr10-md {
    margin-right: 10px; }
  .mr20-md {
    margin-right: 20px; }
  .mr30-md {
    margin-right: 30px; }
  .mr40-md {
    margin-right: 40px; }
  .mr50-md {
    margin-right: 50px; }
  .mb10-md {
    margin-bottom: 10px; }
  .mb20-md {
    margin-bottom: 20px; }
  .mb30-md {
    margin-bottom: 30px; }
  .mb40-md {
    margin-bottom: 40px; }
  .mb50-md {
    margin-bottom: 50px; }
  .mb60-md {
    margin-bottom: 60px; }
  .mb70-md {
    margin-bottom: 70px; }
  .mb80-md {
    margin-bottom: 80px; }
  .mb90-md {
    margin-bottom: 90px; }
  .mb100-md {
    margin-bottom: 100px; } }

@media (min-width: 992px) {
  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .mb10-lg {
    margin-bottom: 10px; }
  .mb20-lg {
    margin-bottom: 20px; }
  .mb30-lg {
    margin-bottom: 30px; }
  .mb40-lg {
    margin-bottom: 40px; }
  .mb50-lg {
    margin-bottom: 50px; }
  .mb60-lg {
    margin-bottom: 60px; }
  .mb70-lg {
    margin-bottom: 70px; }
  .mb80-lg {
    margin-bottom: 80px; }
  .mb90-lg {
    margin-bottom: 90px; }
  .mb100-lg {
    margin-bottom: 100px; } }

.list {
  margin: 0;
  padding: 0; }

.form__group {
  margin-bottom: 1em; }

.form__control {
  width: 100%;
  padding: 15px; }
  .form__control:focus {
    outline: none; }

#fileElem {
  display: none; }

#gallery-area img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle; }

.btn {
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  cursor: pointer; }

.btn-default {
  background: blue; }

.table-container {
  overflow-x: auto; }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .table thead th {
    text-align: left; }
  .table th,
  .table td {
    padding: 20px; }

.pagination {
  margin: 0;
  padding: 0;
  list-style: none; }
  .pagination li {
    display: inline-block;
    font-weight: bold; }
  .pagination a {
    display: inline-block;
    padding: 5px 9px;
    text-decoration: none; }

.tab__content {
  display: none; }
  .tab__content.show {
    display: block; }

html,
body {
  font-family: Pontano Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

* {
  box-sizing: border-box; }

.dash-header {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.dash-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.dashboard {
  background: #fafafa; }

.content-panel {
  padding: 15px; }

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.side-menu__item {
  display: inline-block;
  width: 100%;
  padding: 15px;
  text-decoration: none; }

.header-nav li {
  position: relative; }

.dropdown-trigger {
  position: relative; }

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; }

.dropdown.active {
  display: block; }

.side-menu .menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .3s; }
  .side-menu .menu.open {
    opacity: 1; }

.side-menu .menu-trigger.active + .menu {
  opacity: 1; }

@media (min-width: 768px) {
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px); }
  .side-panel {
    width: 270px;
    background: #fff;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    color: #fff; }
  .content-panel {
    flex: 1;
    margin: 4em;
    padding: 30px 15px;
    background: #fff; } }
