/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.gap-0 {
  margin-left: 0;
  margin-right: 0; }

.gap-0 {
  margin-left: 0px;
  margin-right: 0px; }

.gap-0 > [class^='xs'],
.gap-0 > [class*=' xs'] {
  padding-left: 0px;
  padding-right: 0px; }

.gap-1 {
  margin-left: -5px;
  margin-right: -5px; }

.gap-1 > [class^='xs'],
.gap-1 > [class*=' xs'] {
  padding-left: 5px;
  padding-right: 5px; }

.gap-2 {
  margin-left: -10px;
  margin-right: -10px; }

.gap-2 > [class^='xs'],
.gap-2 > [class*=' xs'] {
  padding-left: 10px;
  padding-right: 10px; }

.gap-3 {
  margin-left: -15px;
  margin-right: -15px; }

.gap-3 > [class^='xs'],
.gap-3 > [class*=' xs'] {
  padding-left: 15px;
  padding-right: 15px; }

.gap-4 {
  margin-left: -20px;
  margin-right: -20px; }

.gap-4 > [class^='xs'],
.gap-4 > [class*=' xs'] {
  padding-left: 20px;
  padding-right: 20px; }

.gap-5 {
  margin-left: -25px;
  margin-right: -25px; }

.gap-5 > [class^='xs'],
.gap-5 > [class*=' xs'] {
  padding-left: 25px;
  padding-right: 25px; }

.gap-6 {
  margin-left: -30px;
  margin-right: -30px; }

.gap-6 > [class^='xs'],
.gap-6 > [class*=' xs'] {
  padding-left: 30px;
  padding-right: 30px; }

.gap-7 {
  margin-left: -35px;
  margin-right: -35px; }

.gap-7 > [class^='xs'],
.gap-7 > [class*=' xs'] {
  padding-left: 35px;
  padding-right: 35px; }

.gap-8 {
  margin-left: -40px;
  margin-right: -40px; }

.gap-8 > [class^='xs'],
.gap-8 > [class*=' xs'] {
  padding-left: 40px;
  padding-right: 40px; }

.gap-9 {
  margin-left: -45px;
  margin-right: -45px; }

.gap-9 > [class^='xs'],
.gap-9 > [class*=' xs'] {
  padding-left: 45px;
  padding-right: 45px; }

.gap-10 {
  margin-left: -50px;
  margin-right: -50px; }

.gap-10 > [class^='xs'],
.gap-10 > [class*=' xs'] {
  padding-left: 50px;
  padding-right: 50px; }

.gap {
  display: flex;
  flex-wrap: wrap; }

.flex {
  flex: 1; }

.xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.mb10-xs {
  margin-bottom: 10px; }

.mb20-xs {
  margin-bottom: 20px; }

.mb30-xs {
  margin-bottom: 30px; }

.mb40-xs {
  margin-bottom: 40px; }

.mb50-xs {
  margin-bottom: 50px; }

.mb60-xs {
  margin-bottom: 60px; }

.mb70-xs {
  margin-bottom: 70px; }

.mb80-xs {
  margin-bottom: 80px; }

.mb90-xs {
  margin-bottom: 90px; }

.mb100-xs {
  margin-bottom: 100px; }

@media (min-width: 490px) {
  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 768px) {
  .md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .mr0-md {
    margin-right: 0px; }
  .mr10-md {
    margin-right: 10px; }
  .mr20-md {
    margin-right: 20px; }
  .mr30-md {
    margin-right: 30px; }
  .mr40-md {
    margin-right: 40px; }
  .mr50-md {
    margin-right: 50px; }
  .mb10-md {
    margin-bottom: 10px; }
  .mb20-md {
    margin-bottom: 20px; }
  .mb30-md {
    margin-bottom: 30px; }
  .mb40-md {
    margin-bottom: 40px; }
  .mb50-md {
    margin-bottom: 50px; }
  .mb60-md {
    margin-bottom: 60px; }
  .mb70-md {
    margin-bottom: 70px; }
  .mb80-md {
    margin-bottom: 80px; }
  .mb90-md {
    margin-bottom: 90px; }
  .mb100-md {
    margin-bottom: 100px; } }

@media (min-width: 992px) {
  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .mb10-lg {
    margin-bottom: 10px; }
  .mb20-lg {
    margin-bottom: 20px; }
  .mb30-lg {
    margin-bottom: 30px; }
  .mb40-lg {
    margin-bottom: 40px; }
  .mb50-lg {
    margin-bottom: 50px; }
  .mb60-lg {
    margin-bottom: 60px; }
  .mb70-lg {
    margin-bottom: 70px; }
  .mb80-lg {
    margin-bottom: 80px; }
  .mb90-lg {
    margin-bottom: 90px; }
  .mb100-lg {
    margin-bottom: 100px; } }

.hero,
.section {
  position: relative; }

.hero__title-sub {
  font-size: 10px; }

.hero__title,
.hero__text {
  display: none; }

.hero__btn {
  margin: 10px 0px 0px;
  padding: 5px 10px;
  transition: all .3s; }

.section {
  color: #000; }

.section__inner,
.footer__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.section__title {
  margin-bottom: .5em;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }

.section__title-sub {
  font-size: 16px;
  color: #777; }

.section__header {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  padding-bottom: 35px;
  background: url(../img/heading-bg.png) center bottom no-repeat; }
  .section__header::before, .section__header::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 215px;
    height: 1px;
    background-color: #e8e8e8; }
  .section__header::before {
    left: 50%;
    margin-left: -265px; }
  .section__header::after {
    right: 50%;
    margin-right: -265px; }

.section--subs {
  background: url(../img/newsletter-bg.jpg) center center/cover no-repeat;
  color: #fff; }

.section--pad {
  padding-top: 50px;
  padding-bottom: 50px; }

.section--pad2 {
  padding-top: 50px;
  padding-bottom: 50px; }

.section--banner {
  padding: 142px 0 92px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #333;
  background-repeat: no-repeat;
  color: #fff; }
  .section--banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.section--banner-search {
  padding-bottom: 0; }
  .section--banner-search .main-tab {
    background: rgba(0, 0, 0, 0.2); }
    .section--banner-search .main-tab .tab__body {
      background: transparent; }

.section--banner-single {
  padding: 110px 0 50px; }

.sidebar .info {
  margin: 0 0 5px;
  padding: 0; }
  .sidebar .info .fas {
    display: inline-block;
    margin-right: 20px;
    color: #00aeef; }

.need-help .title {
  margin-top: 40px; }

.footer {
  border-top: 1px solid #eaeaea;
  color: #000; }
  .footer .fa {
    display: inline-block;
    margin-right: 20px;
    color: #00aeef; }

.footer__top {
  padding-top: 4.5%;
  padding-bottom: 4.5%; }

.copyright {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #202134;
  color: #fff; }

.title {
  margin: 0 0 10px;
  font-size: 20px; }
  .title a {
    color: #000; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.fluid {
  flex: 1; }

.reverse-xs {
  flex-direction: column-reverse; }

.main.single {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid #ededed; }

._404 {
  position: relative;
  min-height: 100vh; }

._404-message {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translateY(-50%); }
  ._404-message h2 {
    font-size: 25px; }
  ._404-message p {
    font-size: 18px; }

._404-btn {
  display: inline-block;
  margin-top: 55px;
  padding: 18px 20px 15px 20px;
  background: #32aad6;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff; }
  ._404-btn:hover {
    color: #fff; }

@media (min-width: 489px) {
  .hero__title-sub {
    font-size: 14px; }
  .section--banner-search .main-tab {
    position: relative;
    margin-top: 50px; }
  .reverse-xs {
    flex-direction: unset; }
  .flex-sm {
    display: flex;
    flex-wrap: wrap; }
  .fluid-sm {
    flex: 1; }
  .fixed-sm.left {
    margin-right: 25px; } }

@media (min-width: 768px) {
  .hero__title-sub {
    font-size: 24px; }
  .hero__title {
    margin-top: .5em;
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase; }
  .hero__title,
  .hero__text {
    display: block; }
  .hero__text {
    display: none;
    font-size: 2vw; }
  .section--pad {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section--pad2 {
    padding-top: 120px;
    padding-bottom: 90px; }
  .section--banner-search .main-tab {
    margin-top: 120px; }
  .section--banner-single {
    padding: 360px 0 275px; }
  .main {
    display: flex;
    flex-wrap: wrap; }
  .content {
    flex: 0 0 850px;
    max-width: 850px;
    padding-right: 30px; }
  .sidebar {
    width: 290px; }
  .flex-md {
    display: flex;
    flex-wrap: wrap; }
  .fluid-md {
    flex: 1; }
  .fixed-md.left {
    margin-right: 20px; }
  ._404-message {
    left: 72%;
    width: 490px;
    text-align: right;
    transform: translate(-50%, -50%); }
    ._404-message h2 {
      font-size: 34px; }
    ._404-message p {
      font-size: 18px; } }

@media (min-width: 992px) {
  .hero__text {
    display: block;
    font-size: 1vw; } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: rgba(10, 10, 10, 0.2);
  color: #fff; }

.header__top {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.09);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.header__bot {
  padding-left: 15px;
  padding-right: 15px; }

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.header__inner-menu {
  min-height: 70px; }
  .header__inner-menu h1 {
    margin: 0; }

.logo {
  max-width: 210px; }

.menu,
.menu-sub {
  margin: 0;
  padding: 0;
  list-style: none; }

.menu__root {
  position: relative;
  display: inline-block;
  width: 100%; }
  .menu__root:hover .menu__item::before {
    left: -10px; }
  .menu__root:hover .menu__item::after {
    right: -10px; }
  .menu__root:hover .menu__item::before, .menu__root:hover .menu__item::after {
    opacity: 1; }

.menu-sub {
  display: none;
  width: 100%;
  background: transparent; }
  .menu-sub.active {
    display: block; }

.menu__branch-item {
  display: block;
  padding: 13px 20px;
  color: #000; }

.menu__item {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #000; }

.has-menu-child .menu__item {
  padding-right: 15px; }

.has-menu-child.menu__root::after {
  content: "\f078";
  position: absolute;
  top: 9px;
  right: 30px;
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  font-weight: 900;
  color: #000;
  transform: rotate(-90deg); }
  @media (min-width: 991px) {
    .has-menu-child.menu__root::after {
      top: 36px; } }

.info {
  padding: 8px 0; }
  .info > div {
    display: inline-block;
    margin-right: 35px; }

.nav-trigger {
  display: inline-block;
  width: 30px;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 0; }

.line {
  display: inline-block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: #fff; }

.menu-main {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 899;
  display: none;
  width: 100%;
  padding: 10px 0;
  background: #eee; }
  .menu-main.active {
    display: block; }

.branding {
  display: inline-block; }

@media (min-width: 992px) {
  .branding {
    font-size: 25px; }
  .nav-trigger {
    display: none; }
  .menu-main {
    position: static;
    display: block;
    flex: 1;
    padding: 0;
    background: transparent;
    text-align: right; }
  .menu__root {
    width: auto;
    padding-right: 30px; }
    .menu__root:hover .menu-sub {
      display: block; }
  .has-menu-child.menu__root::after {
    color: #fff;
    transform: translateY(-50%); }
  .menu__item {
    width: auto;
    padding: 23px 0;
    color: #fff; }
    .menu__item::before, .menu__item::after {
      content: '[';
      position: absolute;
      top: 50%;
      left: -15px;
      opacity: 0;
      transform: translateY(-50%);
      transition: all .3s; }
    .menu__item::after {
      content: ']';
      left: auto;
      right: -15px; }
    .menu__item:hover {
      color: #fff; }
  .menu-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left; }
    .menu-sub::before {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      width: 0;
      height: 0;
      margin-top: -20px;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent #fff; }
    .menu-sub .menu__branch {
      background: #fff;
      border-bottom: 1px solid #eef0f2; }
      .menu-sub .menu__branch:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
  .menu__branch-item {
    display: block;
    padding: 13px 20px;
    font-size: 13px; } }

.tab__content {
  display: none; }
  .tab__content.active {
    display: block; }

.main-tab {
  position: relative;
  z-index: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: #333; }
  .main-tab .tab__links {
    display: inline-block;
    padding-right: 15px;
    font-size: 13px;
    color: #fff; }
  .main-tab .tab__header {
    padding: 15px 10px;
    background: #000;
    text-align: center; }
  .main-tab .tab__body {
    padding: 20px 15px; }
  .main-tab .tab__header,
  .main-tab .tab__body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
  .main-tab .tab__links {
    padding-right: 15px; }
  .main-tab .tab__links.triggered {
    color: #00aeef; }

.single-tab .tab__header {
  margin-top: 20px; }

.single-tab .tab__links {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 13px;
  color: #000; }

.single-tab .tab__links.triggered {
  background: #00aeef;
  color: #fff; }

@media (min-width: 489px) {
  .icon-location::before {
    content: "\66"; }
  .icon-hotels::before {
    content: "\62"; }
  .icon-vehicles::before {
    content: "\61"; }
  .main-tab .tab__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background: transparent; }
  .main-tab .tab__links {
    padding: 0;
    margin: -3px 30px 0;
    border-top: 3px solid transparent;
    font-size: 16px;
    text-align: center; }
    .main-tab .tab__links [class^="icon-"],
    .main-tab .tab__links [class*=" icon-"] {
      position: relative;
      top: -30px;
      display: inline-block;
      font-size: 28px;
      line-height: 0; }
    .main-tab .tab__links span {
      display: block; }
    .main-tab .tab__links.triggered {
      border-color: #00aeef; } }

@media (min-width: 768px) {
  .main-tab {
    position: absolute;
    bottom: 0;
    z-index: 899;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }
    .main-tab .tab__body {
      padding: 0;
      padding-top: 15px;
      padding-bottom: 25px;
      background: transparent; } }

@media (min-width: 992px) {
  .main-tab {
    position: absolute;
    bottom: 0;
    z-index: 899;
    width: 100%; }
    .main-tab .tab__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      background: transparent; }
    .main-tab .tab__links {
      padding: 0;
      margin: -3px 30px 0;
      border-top: 3px solid transparent;
      font-size: 16px;
      text-align: center; }
      .main-tab .tab__links [class^="icon-"],
      .main-tab .tab__links [class*=" icon-"] {
        position: relative;
        top: -30px;
        display: inline-block;
        font-size: 36px;
        line-height: 0; }
      .main-tab .tab__links span {
        display: block; }
      .main-tab .tab__links.triggered {
        border-color: #00aeef; }
    .main-tab .tab__body {
      padding-top: 30px;
      padding-bottom: 50px; }
  .single-tab .tab__header {
    margin-top: 0; }
  .single-tab .tab__links {
    padding: 10px 20px;
    font-size: 16px; } }

.form__control {
  width: 100%;
  min-height: 44px;
  padding: 10px;
  border: 0;
  font-size: 14px;
  color: #555; }

.form-search label {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 13px; }

.search-container {
  flex-direction: column;
  align-items: flex-start;
  color: #fff; }

.contact-form .form__group {
  margin-bottom: 20px; }

.contact-form .form__control {
  min-height: 50px;
  padding: 12px 15px;
  background: #eee;
  border-radius: 4px;
  font-size: 14px;
  color: #555; }

.booking-form {
  color: #777; }
  .booking-form .form__group {
    margin-bottom: 20px; }
  .booking-form .form__control {
    border-radius: 4px;
    border: 1px solid #f2f2f2; }
  .booking-form .btn-book-submit {
    justify-content: center;
    padding: 14px 45px;
    background: #00a651;
    font-size: 16px;
    color: #fff; }
    .booking-form .btn-book-submit:hover {
      background: #018e46; }

.subscription {
  position: relative;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .subscription .form__control {
    min-height: 50px;
    padding-right: 30%;
    border-radius: 4px 5px 4px 5px; }
  .subscription .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    min-height: 50px;
    border-radius: 0 4px 4px 0;
    justify-content: center; }

@media (min-width: 768px) {
  .search-container {
    flex-direction: row;
    align-items: flex-end; }
    .search-container .flex .xs-6:first-child .form__control {
      border-radius: 4px 0 0 4px; }
    .search-container .flex .xs-6:not(:last-child) .form__control {
      border-right: 1px solid #ccc; }
  .form-search {
    padding: 0 15px; }
  .form-search label {
    margin-bottom: 13px;
    font-size: 16px; }
  .form__control {
    min-height: 50px;
    padding: 12px 15px; }
  .btn-search {
    margin-left: 8px; }
  .subscription .form__control {
    padding-right: 25%; }
  .subscription .btn {
    width: 25%; } }

.btn {
  display: inline-flex;
  border-radius: 3px;
  border: 0;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 500;
  transition: all .3s;
  cursor: pointer; }

.btn-blue {
  background: #32aad6;
  border-color: #32aad6;
  color: #fff; }
  .btn-blue:hover {
    color: #fff; }

.btn-o {
  border: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: inherit;
  line-height: 22px;
  color: #fff; }
  .btn-o:hover, .btn-o:focus {
    background: #00aeef;
    border-color: #00aeef;
    color: #fff; }

.btn-lg {
  padding: 14px 45px; }

.btn-green {
  background: #00a651;
  color: #fff; }
  .btn-green:hover {
    background: #018e46;
    color: #fff; }

.btn-submit {
  padding: 10.5px 30px;
  font-size: 14px;
  font-weight: 400; }

.btn-search {
  height: 38px;
  margin-top: 20px;
  padding: 10px 28px; }

.booknow {
  width: 100%; }

.btn-block {
  width: 100%; }

.btn-paypal {
  justify-content: center;
  padding: 14px 45px;
  background: #f0ad4e;
  font-size: 16px;
  color: #fff; }
  .btn-paypal:hover {
    color: #fff; }

@media (min-width: 489px) {
  .booknow {
    width: auto; } }

@media (min-width: 768px) {
  .hero__btn {
    margin: 0;
    padding: 10px 20px; }
  .btn-search {
    height: 50px;
    padding: 14px 28px;
    border-radius: 0 4px 4px 0;
    font-size: 16px; }
  .booknow {
    padding: 10px 20px;
    font-size: 16px; } }

@media (min-width: 992px) {
  .hero__btn {
    margin-top: 29px; } }

.banner {
  position: relative;
  padding: 142px 0 92px; }
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.banner-contact {
  position: relative;
  background: url("../img/contact-page.jpg") center center/cover no-repeat; }

.banner-other {
  position: relative;
  background: url("../img/banner1.jpg") center center/cover no-repeat; }

.banner__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.banner__title {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

@media (min-width: 768px) {
  .banner__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 1.15; } }

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none; }
  .breadcrumb li {
    position: relative;
    display: inline-block;
    color: #fff; }
    .breadcrumb li:not(:last-child) {
      padding-right: 20px; }
      .breadcrumb li:not(:last-child)::after {
        content: '/';
        position: absolute;
        top: 0;
        right: 7px; }
  .breadcrumb a {
    color: #fff; }

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

h3 {
  font-size: 20px; }

.t6 {
  font-size: 16px; }

.t-center {
  text-align: center; }

.t-left {
  text-align: left; }

.copy {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; }

.gallery__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 4px; }
  .gallery__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1; }
  .gallery__item:hover .gallery__inner {
    bottom: 0; }

.gallery__inner {
  position: absolute;
  bottom: -55px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 20px;
  color: #fff;
  transition: all .4s; }

.gallery__meta {
  margin: 0;
  font-size: 13px; }

.gallery__title {
  margin: 0 0 18px; }
  .gallery__title a {
    color: #fff; }

.photo-gallery img {
  overflow: hidden;
  border-radius: 5px; }

@media (min-width: 768px) {
  .gallery__meta {
    font-size: 14px; }
  .gallery__inner {
    padding: 30px; }
    .gallery__inner .btn {
      position: relative;
      bottom: -15px; } }

.pagination {
  margin: 0;
  padding: 0;
  list-style: none; }

.pagi__item {
  display: inline-block;
  font-size: 14px; }
  .pagi__item a {
    display: inline-block;
    padding: 7px 19px;
    background: #f0f0f0;
    font-size: 14px;
    color: #595959; }
    .pagi__item a:hover {
      background: #32aad6;
      color: #fff; }
  .pagi__item.current span {
    display: inline-block;
    padding: 7px 19px;
    background: #32aad6;
    color: #fff; }

@media (min-width: 768px) {
  .pagination {
    margin-top: 35px; } }

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

.time-schedule {
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.42857143; }
  .time-schedule thead {
    background: #fafafa;
    text-transform: uppercase; }
    .time-schedule thead th {
      font-weight: 500; }
  .time-schedule th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-width: 2px; }
  .time-schedule td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #777; }

.transaction-table {
  margin: 15px 0;
  border: 1px solid #ccc; }
  .transaction-table thead {
    background: #dde7ea; }
    .transaction-table thead th {
      padding: 10px 15px;
      font-weight: 700;
      text-align: left; }
  .transaction-table tbody td {
    padding: 10px 15px; }
  .transaction-table tr:nth-child(even) {
    background: #fafafa; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  position: relative;
  overflow-y: auto;
  max-width: 800px;
  max-height: 100%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease; }

.modal-header h3 {
  margin-top: 0;
  color: #42b983; }

.modal-body {
  margin: 20px 0; }

.modal-default-button {
  float: right; }

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.modal-booking {
  color: #777; }
  .modal-booking .tingle-modal-box {
    width: 100%;
    max-width: 800px; }
  .modal-booking h2 {
    font-size: 20px; }
  .modal-booking .tingle-modal__closeIcon {
    display: none; }

.tingle {
  display: none; }

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.65;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  color: #333;
  cursor: pointer; }

.video-wrapper {
  position: relative;
  padding-top: 56.3%; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hotel-info-thumb {
  max-width: 250px; }

.guide-info-thumb {
  max-width: 165px;
  border-radius: 50%;
  overflow: hidden; }

.rooms {
  overflow: hidden; }

.social a {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  color: #d8d8d8; }

.video-pop-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .video-pop-wrapper .video-pop {
    flex: 1;
    margin: 0 30px 30px 0; }
    .video-pop-wrapper .video-pop:first-child {
      flex: 0 0 100%;
      max-width: 100%; }
    .video-pop-wrapper .video-pop:last-child {
      margin-right: 0; }
    @media (min-width: 768px) {
      .video-pop-wrapper .video-pop:not(:first-child) .video-pop__title {
        padding: 20px;
        font-size: 16px;
        line-height: 1.25; } }

.video-pop {
  position: relative; }
  .video-pop .video-pop__title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 20px;
    font-size: 20px;
    color: #fff; }
    @media (min-width: 768px) {
      .video-pop .video-pop__title {
        padding: 40px;
        font-size: 24px; } }

.jarallax {
  padding: 50px 15px;
  text-align: center;
  color: #fff; }
  .jarallax h2 {
    font-size: 25px; }
  .jarallax p {
    font-size: 16px; }

.person {
  color: #777; }

.person__thumb {
  overflow: hidden; }
  .person__thumb img {
    transition: .3s all; }
  .person__thumb:hover img {
    transform: scale(1.3); }

.person__name {
  margin-bottom: 0; }

.person__title {
  margin: .5em 0 .75em;
  font-size: 18px;
  font-weight: 400; }

.map-wrapper {
  position: relative;
  padding-top: 45%; }
  .map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.item__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%); }

.user-profile {
  width: 100%;
  text-align: center; }

#photo-uploader {
  display: none; }

.profile-photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .map-wrapper {
    padding-top: 20%; }
  .map-wrapper2 {
    padding-top: 45%; }
  .jarallax {
    padding: 200px 0; }
    .jarallax h2 {
      font-size: 50px;
      font-weight: bold; }
  .item__text {
    transform: translate(-50%, -103%); }
  .user-profile {
    width: 270px;
    margin-right: 30px; }
  .to-upload {
    width: 100%;
    justify-content: center; } }

@media (min-width: 1340px) {
  .item__text {
    transform: translate(-50%, -50%); } }

.zoom {
  overflow: hidden;
  border-radius: 5px; }
  .zoom img {
    transition: all .3s; }
  .zoom a {
    cursor: url(../img/cross-cursor.png), auto; }
  .zoom:hover img {
    filter: brightness(50%);
    transform: scale(1.3, 1.3); }

.rooms,
.vehicle {
  position: relative; }
  .rooms .owl-dots,
  .vehicle .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 15px; }
  .rooms .owl-dot,
  .vehicle .owl-dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 13px; }
    .rooms .owl-dot.active,
    .vehicle .owl-dot.active {
      background: #fff !important; }

.price {
  font-weight: 600;
  font-size: 35px; }

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: #ccc;
  border-radius: 10px; }
  .status.available {
    position: relative;
    background: #07cc57; }
    .status.available::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      animation: glow 2s infinite; }

@-webkit-keyframes glow {
  0% {
    box-shadow: 0;
    transform: translate(-50%, -50%) scale(0); }
  50% {
    box-shadow: 0 0 10px #07cc57;
    transform: translate(-50%, -50%) scale(1.5); }
  100% {
    box-shadow: 0;
    transform: translate(-50%, -50%) scale(0); } }

/* Standard syntax */
@keyframes glow {
  0% {
    box-shadow: 0;
    transform: translate(-50%, -50%) scale(0); }
  50% {
    box-shadow: 0 0 10px #07cc57;
    transform: translate(-50%, -50%) scale(1.5); }
  100% {
    box-shadow: 0;
    transform: translate(-50%, -50%) scale(0); } }

#ui-datepicker-div {
  max-width: 265px;
  border: 0; }
  #ui-datepicker-div .ui-state-default {
    border: 0;
    background: transparent;
    text-align: center;
    color: #000; }
  #ui-datepicker-div .ui-datepicker-calendar {
    font-size: .9em; }
  #ui-datepicker-div .ui-datepicker-header {
    border: 0;
    background: transparent; }
  #ui-datepicker-div .ui-datepicker-title {
    font-size: .9em;
    line-height: 3em; }
  #ui-datepicker-div .ui-state-highlight {
    background: #ececec;
    border-radius: 100%; }
  #ui-datepicker-div .ui-state-active {
    background: #dceefb;
    border-radius: 100%; }
  @media (min-width: 768px) {
    #ui-datepicker-div .ui-datepicker-calendar {
      font-size: .8em; }
    #ui-datepicker-div .ui-datepicker-title {
      font-size: .8em; } }

.top-destination img {
  border-radius: 3px; }

.top-destination h4 {
  margin-bottom: .5em; }
  .top-destination h4 a {
    color: #000; }

.top-destination span {
  color: #777; }

.main-slider .owl-nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding-left: 30px;
  transform: translateY(-50%); }

.main-slider .owl-prev,
.main-slider .owl-next {
  position: relative;
  width: 20px;
  height: 20px; }
  .main-slider .owl-prev::before,
  .main-slider .owl-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%); }

.main-slider .owl-prev::before {
  background: url(../img/arrow-left.png) no-repeat; }

.main-slider .owl-next::before {
  background: url(../img/arrow-right.png) no-repeat; }

@media (min-width: 768px) {
  .main-slider .owl-nav {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    transform: translateY(-50%); }
  .main-slider .owl-prev,
  .main-slider .owl-next {
    position: absolute;
    left: 30px;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 70px; }
  .main-slider .owl-next {
    left: auto;
    right: 30px; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.package-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .package-list .fa-check {
    margin-right: 20px;
    color: #8dc63f; }
  .package-list li span {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea; }

.additional-info {
  margin: 0;
  padding: 0;
  list-style: none; }
  .additional-info li {
    display: block; }

@media (min-width: 768px) {
  .package-list {
    margin-left: -15px;
    margin-right: -15px; }
    .package-list li {
      float: left;
      width: 33.3333%;
      padding-left: 15px;
      padding-right: 15px; }
  .additional-info {
    display: flex;
    flex-wrap: wrap; }
    .additional-info li {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 10px 0; } }

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; }

* {
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: color .3s; }
  a:hover {
    color: #00aeef; }

a:focus, a:active,
button:focus,
button:active,
input:focus,
input:active {
  outline: none; }

p {
  margin: 0 0 10px; }

textarea {
  resize: vertical; }

.clx::before, ._404::before, .clx::after, ._404::after {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: "travel";
  src: url("../fonts/travel.woff") format("woff"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "travel";
  font-style: normal; }

@media (min-width: 767px) {
  html,
  body {
    font-size: 14px; } }
