fieldset 
{
	font-family: 'Montserrat';
	border: 1px solid #ddd !important;
	margin: 0;
	min-width: 0;
	padding: 10px;       
	position: relative;
	/*border-radius:4px;*/
	background-color:#fff;
	padding-left:10px!important;
	margin-bottom: 25px;
}	
legend
{
	font-family: 'Montserrat';
	font-size:12px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: auto; 
	border: 1px solid #ddd;
	/*border-radius: 4px; */
	padding: 5px 10px 5px 10px; 
	background-color: #ffffff;
	text-transform: uppercase; !important;
}
.form-group{
	margin-bottom: 1.1rem;
	font-family: 'Montserrat';
}

.form-group.has-error .help-block, .help-block{
	color:#bf0505;
	font-family: 'Montserrat';
}

.form-group{
	font-family: 'Montserrat';
}
.table th, .table td{
	font-family: 'Montserrat';
}

/************* Select 2 *********************/
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e4e9f0;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #bbb8b8;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #74708d;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 18px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 50%;
    right: 1px;
    width: 20px;
}
.widget-title span {
	color: #666;
	padding: 0px 0px 0px 10px;
	font-size: 12px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.tab-pane.active{
	margin-right: 40px;
}

.thumb-preview {
    height: 75px;
    border: 1px solid #999;
    margin: 10px 5px 0 0;
 }
 .form-section{
 	color: #666;
 	font-size: 12px;
 	text-transform: uppercase;
 	font-weight: bold;
 }
 .col-inline{
 	font-size: 12px;
 	font-weight: normal;
 	text-transform: capitalize;
 	margin-bottom: 2px;
 }